body {
    background-color: #e2dddd;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
}

/* Enables smooth scrolling when clicking header links */
html {
    scroll-behavior: smooth;
}

p {
    padding-left: 50px;
}

h3 a{
    color: white;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: white;
}

/* Aligns content and adds color to header */
header {
    align-items: center;
    justify-content: space-between;
    background-color: #20262E;
    color: white;
    display: flex;
    width: 100%;
}

header h1 {
    width: 50%;
    margin-left: 10px;
    padding-top: 10px;
    flex: 1;
}

/* Aligns and spaces navigation links in the header */
header h2 {
    text-align: center;
    flex-direction: row-reverse;
    justify-content: center;
    width: 50%;
    margin-right: 10px;
    flex: 1;
}

/* Makes profile image circular and sized appropriately */
header img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

article {
    display: flex;
    height: 200px;
    align-items: center;
    margin-top: 10px;
}

article h2{
    height: 200px;
    width: 200px;
    text-align: center;
    padding-top: 15px;
    border-radius: 50px 0 50px 0;
    border-right: 5px solid #20262E;
}
article p{
    max-height: 200px;
    justify-content: center;
    font-size: 125%;
    margin: 0 0 0 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main section{
    display: flex;
    width: 100%;
}

main h2{
     font-size: 200%;
     min-width: 200px;
     border-radius: 50px;
     border-right: 5px solid #20262E;
}

.work h2{
    padding-top: 15px;
    margin: 0;
    height: 100%;
    text-align: center;
}

/* Creates blur effect and background image to project tiles */
.work div{
    flex: 1;
    margin: 50px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

/* Creates text boxes for the project titles */
.work h3{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

/* Un-blurs the content tiles making them visible to user */
.work div:hover{
    filter: none;
    transform: translate(5px, -5px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#primary{
    flex: 1 1 80%;
    background-image: url(./images/Calculator.jpg);
}

#secondary{
    flex: 1 1 40%;
}

.content div:nth-of-type(2){
    background-image: url(./images/Boxes.jpg);
}

.content div:nth-of-type(3){
    background-image: url(./images/Snake.jpg);
}
.content div:nth-of-type(4){
    background-image: url(./images/Fizz.jpg)
}
.content div:nth-of-type(5){
    background-image: url(./images/Art.jpg);
}
.content{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.contact h2{
    height: 200px;
    padding-top: 15px;
    text-align: center;
}

.contact p{
    justify-content: center;
    font-size: 150%;
    margin: 0 0 0 10px;
}

.contact {
    display: flex;
    height: 200px;
    align-items: center;
    margin-top: 10px;
}

.contact a{
    text-decoration: none;
}

/* Adds resposiveness for smaller devices */
@media only screen and (max-width: 600px) {
    main {
        flex-wrap: wrap;
    }
    article {
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 50px;
        border-bottom: 5px solid #20262E;
        width: 100vw;
        height: fit-content;
    }
    article h2{
        flex: 1;
        padding-top: 15px;
        margin: 0;
        width: 100%;
        height: 400px;
        text-align: center;
        border-right: none;
    }
    article p {
        width: fit-content;
        flex: 1;
        margin: 25px 10px 50px 10px;
        padding: 0;
    }
    header {
        flex-wrap: wrap;
        width: 100vw;
    }
    .work {
        flex-wrap: wrap;
        border-bottom: 5px solid #20262E;
        border-radius: 50px;
        width: 100vw;
        /* flex-direction: column; */
    }
    .work h2{
        padding-top: 15px;
        margin: 0;
        height: 50px;
        width: 100%;
        text-align: center;
        border-right: none;
    }
    .work div{
        max-width: 80%;
        max-height: 200px;
    }
    .contact {
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 50px;
        border-bottom: 5px solid #20262E;
        width: 100vw;
        height: fit-content;
    }
    .contact h2 {
        border-right: none;
        text-align: center; 
        margin: 0;
        padding: 0;
        height: 50px;
    }
    .contact div p{
        width: fit-content;
        flex: 1;
        margin: 0 0 50px 0;
        padding: 0;
    }

}